{{> head}}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Strix</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aut voluptate asperiores ducimus quisquam molestiae totam vitae, ullam porro quos, officiis enim temporibus, ipsum assumenda eius odit fugit delectus nisi!
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/strix negro.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}